.dark_toggle_div {
  position: fixed;
  bottom: 15px;
  left: -12px;
  width: auto;
  height: auto;
  background-color: transparent;
  border: 3px solid var(--orange);
  border-radius: 50px;
  z-index: 100;
  transform: rotate(-90deg);
}
