.progress {
  width: 100%;
  height: 7px;
  border-radius: 5px;
}

.light.progress {
  background-color: #fff;
}

.dark.progress {
  background-color: #333;
}

.bar {
  border-radius: 5px;
  height: 7px;
}

.warning {
  display: flex;
  flex-direction: column;
}

.warning p {
  text-align: right;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
}

.warning span {
  text-align: center;
  font-size: 13px;
  color: #999;
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}

.status ul {
  padding-left: 15px;
}

.status .included {
  list-style: none;
  font-size: 12px;
  margin-left: -15px;
  color: #0be881;
}

.included::before {
  content: "✔";
  margin-right: 10px;
}
