.categories_table_wrapper {
  margin: 0;
  padding: 20px 0;
  width: 100%;
  min-height: calc(100vh - 90px);
  z-index: -1;
}

.light.categories_table_wrapper {
  background: var(--bg_white);
}

.dark.categories_table_wrapper {
  background: var(--bg_dark);
}

.table_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: auto;
  font-size: var(--FS_md);
  margin: 20px 0;
  border-radius: 8px;
}

.light .table_container {
  color: var(--dark_text);
  background: var(--bg_form_white);
  box-shadow: var(--bg_light_btn_shadow);
}

.light .table_container {
  color: var(--dark_text);
  background: var(--bg_white);
  box-shadow: var(--bg_card_white_shadow);
}

.dark .table_container {
  color: var(--light_text);
  background: var(--bg_dark_btn);
  box-shadow: var(--bg_dark_btn_shadow);
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  text-align: left;
  padding: 8px 16px;
}
.table th,
.table tr {
  border-bottom: 1px solid var(--offdark_text);
}

.table td {
  font-size: var(--FS_td);
}

.table tr:last-child {
  border-bottom: none;
}

.light .table tr:hover {
  background: var(--bg_form_white);
}

.dark .table tr:hover {
  background: var(--dark_text);
}

.light .table th {
  background: var(--offwhite);
}

.dark .table th {
  background: var(--dark_text);
}

.t_data_center {
  text-align: center !important;
  padding: auto 8px !important;
}

.icon {
  margin: 0 10px;
  cursor: pointer;
  font-size: var(--FS_md);
}

/* modal design */
.full_width_inputs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.input_field {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input_field select,
.input_field .input,
.input_field input {
  display: block;
  width: 100%;
  height: 45px;
  padding-left: 20px;
  font-size: var(--FS_sm);
  font-weight: var(--FW_bold);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  border-radius: 25px;
  margin-top: 5px;
}

.input_field select {
  cursor: pointer;
}

.red_color {
  color: red;
}

.light .input_field select,
.light .input_field .input,
.light .input_field input {
  background: var(--bg_form_white);
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

.light .input_field select:focus,
.light .input_field input:focus,
.light .input_field input:hover,
.light .input_field .input:focus,
.light .input_field .input:hover {
  color: #595959;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
  -webkit-box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
  -moz-box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

.dark .input_field select,
.dark .input_field input,
.dark .input_field .input {
  box-shadow: var(--dark_field_shadow);
  -webkit-box-shadow: var(--dark_field_shadow);
  -moz-box-shadow: var(--dark_field_shadow);
  background: linear-gradient(315deg, #222222, #292929);
}
.dark .input_field select:focus,
.dark .input_field input:focus,
.dark .input_field input:hover,
.dark .input_field .input:focus,
.dark .input_field .input:hover {
  box-shadow: var(--dark_field_hover_shadow);
  -webkit-box-shadow: var(--dark_field_hover_shadow);
  -moz-box-shadow: var(--dark_field_hover_shadow);
}

.input_field label {
  display: block;
  padding-left: 20px;
  font-size: var(--FS_sm);
  font-weight: var(--FW_medium);
}
