@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap");

:root {
  --bg_dark: #212428;
  --bg_white: #ecf0f3;
  --bg_form_white: #dde1e7;
  --bg_light_btn: linear-gradient(145deg, #e2e8ec, #ffffff);
  --bg_light_btn_shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  --bg_dark_btn: linear-gradient(145deg, #1e2024, #23272b);
  --bg_dark_btn_shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --red: #ed4141;
  --blue: #1a97f5;
  --pink: #c231a1;
  --purple: #7352ff;
  --orange: #fd4520;
  --green: #29fd53;
  --offwhite: #f4f5f6;
  --offblack: #0d1013;
  --gray: #f6f6f6;
  --dark_text: #3c3e41;
  --offdark_text: #878e99;
  --light_text: #878787;
  --light_heading: #ffffff;
  --dark_heading: #1e2125;
  --background_color_2: #212428;
  --shadow_2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner_shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --gradient-red-hover: linear-gradient(145deg, #f95230, #fb2c02);
  --bg_form_white_shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94, 104, 121, 0.288);
    --dark_field_shadow: -6px -6px 12px #0f0f0f, 6px 6px 12px #3d3d3d;
  --dark_field_hover_shadow: inset -6px -6px 12px #0f0f0f, inset 6px 6px 12px #3d3d3d;
  --dark_register_btn_shadow: -9px -9px 18px #0f0f0f, 9px 9px 18px #3d3d3d;
  --dark_register_hover_btn_shadow: inset -9px -9px 18px #0f0f0f,

  --light_page_head: #c4cfde;
  --dark_page_head: #3c3e41;
  --color_light: #e4e6ea;
  --color_lighter: #ced0d4;
  --color_lightest: #f0f2f5;
  --color_border: #e6e6e6;
  --color_white: #ffffff;
  --color_white-75: rgba(255, 255, 255, 0.75);
  --color_success: #3eb75e;
  --color_warning: #ff8f3c;
  --color_info: #1ba2db;
  --color_facebook: #3b5997;
  --color_twitter: #1ba1f2;
  --color_linkedin: #0077b5;
  --color_vimeo: #00adef;
  --color_discord: #7289da;
  --transition: 0.4s;
  --FF_pop: "Poppins", sans-serif;
  --FF_mont: "Montserrat", sans-serif;
  --FW_light: 300;
  --FW_regular: 400;
  --FW_medium: 500;
  --FW_bold: 600;
  --FS_xxl: 45px;
  --FS_xl: 30px;
  --FS_lg: 25px;
  --FS_md: 20px;
  --FS_sm: 14px;
  --FS_xs: 12px;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: none !important;
}

::-webkit-scrollbar-thumb {
  background: #fd4520;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 51, 51, 0.925);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Chrome, Safari, Edge, Opera */
.hide_numbers_arrow::-webkit-outer-spin-button,
.hide_numbers_arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide_numbers_arrow {
  -moz-appearance: textfield;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: var(--FF_pop);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.empty_div {
  height: 90px;
  background: transparent;
}
