.home_page {
  margin: 0;
  padding: 20px 0;
  width: 100%;
  z-index: -1;
}
.home_page.light {
  background: var(--bg_white);
}

.home_page.dark {
  background: var(--bg_dark);
}

.break_line {
  margin: 40px 0;
}
