.card_wrapper {
  border-radius: 12px;
  max-width: 420px;
  padding: 10px;
}

.light .card_wrapper {
  background: var(--bg_light_btn);
  box-shadow: var(--bg_light_btn_shadow);
}

.dark .card_wrapper {
  background: var(--bg_dark_btn);
  box-shadow: var(--bg_dark_btn_shadow);
}

.fig_div {
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  transition: var(--transition);
}

.fig_div .image {
  transition: var(--transition);
}

.fig_div:hover .image {
  transform: scale(1.2);
}

.fig_div .hover_div {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  transition: var(--transition);
}

.fig_div:hover .hover_div {
  left: 0;
}

.tag_title {
  font-size: var(--FS_md);
  font-weight: var(--FW_bold);
}

.tag {
  width: calc(100% - 20px);
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tag::-webkit-scrollbar-thumb {
  display: none;
}

.tag p {
  display: inline-block;
  margin: 10px 12px 2px 0;
  width: max-content;
  font-size: var(--FS_sm);
  padding: 3px 7px;
  border-radius: 15px;
  color: var(--offwhite);
  box-shadow: var(--bg_dark_btn_shadow);
}

.btn_div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 100%;
  top: 0;
  right: 5px;
}

.btn_div .card_btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.card_btn svg {
  width: 25px;
  height: 25px;
}

.subtitle {
  font-size: var(--FS_sm);
  font-weight: var(--FW_medium);
  letter-spacing: 0.7px;
  margin-top: 10px;
}

.light .subtitle {
  color: var(--dark_text);
}
.dark .subtitle {
  color: var(--light_text);
}

.title {
  font-size: var(--FS_xl);
  font-weight: var(--FW_medium);
  letter-spacing: 1px;
}

.light .title {
  color: var(--dark_page_head);
}

.dark .title {
  color: var(--light_page_head);
}

.rating {
  font-size: var(--FS_lg);
}
