.register_page {
  margin: 0;
  padding: 40px 0;
  width: 100%;
  z-index: -1;
}

.register_page.light {
  background: var(--bg_white);
}

.register_page.dark {
  background: var(--bg_dark);
}

.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: max-content;
  border-radius: 10px;
  padding-bottom: 40px;
  overflow: hidden;
}

.form_wrapper p {
  font-size: var(--FS_sm);
}

.light .form_wrapper {
  color: var(--dark_text);
  background: var(--bg_form_white);
  box-shadow: var(--bg_form_white_shadow);
}

.dark .form_wrapper {
  color: var(--light_text);
  background: var(--bg_dark_btn);
  box-shadow: var(--bg_dark_btn_shadow);
}

.form_heading {
  font-size: var(--FS_lg);
  margin: 15px 0;
}

.input_field {
  height: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input_field input {
  display: block;
  width: 100%;
  height: 45px;
  padding-left: 5px;
  font-size: var(--FS_sm);
  font-weight: var(--FW_bold);
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

.light .input_field input {
  background: var(--bg_form_white);
  box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
  -webkit-box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
  -moz-box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

.light .input_field input:focus,
.light .input_field input:hover {
  color: #595959;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
  -webkit-box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
  -moz-box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
}

.dark .input_field input {
  box-shadow: var(--dark_field_shadow);
  -webkit-box-shadow: var(--dark_field_shadow);
  -moz-box-shadow: var(--dark_field_shadow);
  background: linear-gradient(315deg, #222222, #292929);
}
.dark .input_field input:focus,
.dark .input_field input:hover {
  box-shadow: var(--dark_field_hover_shadow);
  -webkit-box-shadow: var(--dark_field_hover_shadow);
  -moz-box-shadow: var(--dark_field_hover_shadow);
}

.input_field label {
  display: block;
  padding-left: 5px;
  font-size: var(--FS_sm);
  font-weight: var(--FW_medium);
  margin-top: 20px;
}

.redirect_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-size: var(--FS_sm);
  text-align: center;
}

.redirect_div span {
  text-decoration: underline;
  cursor: pointer;
}

.btn_div {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  grid-gap: 10px;
  padding: 10px 0;
}

.show_pass {
  position: absolute;
  right: 5px;
  bottom: 10px;
  cursor: pointer;
  font-size: 15px;
}

@media (max-width: 600px) {
  .input_field {
    width: calc(400px - 5vw);
  }
}

@media (max-width: 450px) {
  .input_field {
    width: calc(300px - 5vw);
  }

  .btn_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 360px) {
  .p0 {
    padding: 0;
  }
  .form_wrapper {
    padding: 10px;
  }
  .redirect_div,
  .input_field {
    width: 260px;
  }
  .btn_div {
    grid-gap: 5px;
  }
}
