.sidebar_sec {
  position: absolute;
  top: 90px;
  left: 0;
  font-family: var(--FF_mont);
  width: 150px;
  height: calc(100vh - 90px);
  z-index: 10;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
  transition: clip-path var(--transition);
}

.sidebar_sec.inactive {
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 0%); */
}

.light.sidebar_sec {
  background: var(--bg_white);
  /* background: red; */
}

.dark.sidebar_sec {
  background: var(--bg_dark);
}

.nav_items {
  z-index: 100;
  height: 100%;
}

.link_wrapper {
  position: relative;
}

.sub_link,
.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: var(--FS_sm);
  text-decoration: none;
  font-weight: var(--FW_medium);
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all var(--transition);
}

.dropdown_icon {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: var(--FS_sm);
  transform: rotate(-90deg);
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  transition: all var(--transition);
  cursor: pointer;
}

.light .link:hover,
.light .sub_link:hover {
  color: var(--offdark_text);
}

.light .dropdown_icon:hover {
  background: #fff;
  color: var(--text_dark);
}

.dark .link:hover,
.dark .sub_link:hover {
  color: var(--offwhite);
}

.dark .dropdown_icon:hover {
  background: var(--light_text);
  color: var(--offwhite);
}

.dropdown_icon.rotate {
  transform: rotate(90deg);
}

.light .dropdown_icon {
  color: var(--offdark_text);
}

.dark .dropdown_icon {
  color: var(--light_text);
}

.sub_link {
  display: none;
  margin-top: -7px;
  overflow: hidden;
  padding-left: 30px;
  font-size: var(--FS_xs);
  transition: all var(--transition);
  text-transform: capitalize;
}

.sub_link.open {
  display: block;
}

.light .sub_link,
.light .link {
  color: var(--text_dark);
}

.dark .sub_link,
.dark .link {
  color: var(--light_text);
}
