.nav_sec {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  overflow: hidden;
}

.light.nav_sec {
  background: var(--bg_white);
}

.dark.nav_sec {
  background: var(--bg_dark);
}

.nav_wrapper {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_brand {
  position: relative;
  width: 30px;
  height: 30px;
}

.nav_links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.link,
.activeLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: var(--FW_medium);
  transition: var(--transition);
  margin: 10px 20px;
}

.light .link {
  color: var(--dark_text);
  fill: var(--dark_text);
}

.dark .link {
  color: var(--light_text);
  fill: var(--light_text);
}

.link:last-child,
.activeLink:last-child {
  margin-right: 0;
}

.link:hover {
  transition: var(--transition);
}

.light .link:hover {
  color: var(--offdark_text);
  fill: var(--offdark_text);
}

.dark .link:hover {
  color: var(--offwhite);
  fill: var(--offwhite);
}

.activeLink {
  font-weight: var(--FW_bold);
  color: var(--orange);
  fill: var(--orange);
}

.link_name {
  font-size: var(--FS_sm);
  text-transform: uppercase;
  font-family: var(--FF_mont);
}

.link_icon {
  margin-right: 5px;
}

.link_icon svg {
  width: 16px;
  height: 16px;
}
